<header class="header">
  <form [formGroup]="periodForm" class="period">
    <shared-dropdown
      iconButton="pi-calendar"
      position="left-bottom"
      [pTooltip]="'groupPeriodSelect' | translate"
      tooltipPosition="right"
      [showDelay]="400"
      [items]="periodItems"
      [formGroup]="periodForm"
      formControlName="period"
    />
  </form>
  <form [formGroup]="groupForm" class="selectGroup">
    <i
      class="pi pi-angle-left"
      style="font-size: 1.5rem"
      [pTooltip]="'groupForwardTooltip' | translate"
      tooltipPosition="left"
      [showDelay]="400"
      (click)="backGroup()"
      *ngIf="selectedGroupIndex !== 0"
    ></i>
    <shared-dropdown
      [labelButton]="groupForm.value.selectedGroup?.label"
      position="center-bottom"
      [tooltipButton]="'groupAllTooltip' | translate"
      tooltipPosition="bottom"
      [items]="groupsList"
      [formGroup]="groupForm"
      formControlName="selectedGroup"
      [noButton]="true"
      (dropdownChange)="selectGroup($event)"
    />
    <i
      class="pi pi-angle-right"
      style="font-size: 1.5rem"
      [pTooltip]="'groupNextTooltip' | translate"
      tooltipPosition="right"
      [showDelay]="400"
      (click)="nextGroup()"
      *ngIf="selectedGroupIndex !== groupsList.length - 1"
    ></i>
  </form>
  <div class="buttons-right">
    <shared-dropdown
      [labelButton]="'groupDownloadReportLabel' | translate"
      iconButton="pi-angle-down"
      [formGroup]="downloadForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <shared-select
            [options]="formatDownloadItems || []"
            [placeholder]="'groupSelectFormatPlaceholder' | translate"
            [formGroup]="downloadForm"
            formControlName="format"
          />
          <shared-select
            [options]="rangeDownloadItems || []"
            [placeholder]="'groupSelectRangePlaceholder' | translate"
            [formGroup]="downloadForm"
            formControlName="range"
          />
        </div>
        <shared-button
          [label]="'groupDownloadLabel' | translate"
          icon="pi-download"
          [disabled]="!downloadForm.valid"
        />
      </div>
    </shared-dropdown>
    <shared-dropdown
      iconButton="pi-filter"
      [pTooltip]="'groupFilterTooltip' | translate"
      [showDelay]="400"
      [formGroup]="filtersForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <span class="p-input-icon-right">
            <input
              type="text"
              pInputText
              formControlName="searchByName"
              [placeholder]="'groupSearchByName' | translate"
            />
            <i class="pi pi-search"></i>
          </span>
          <shared-select
            [options]="orderByItems || []"
            [placeholder]="'groupOrderBy' | translate"
            [formGroup]="filtersForm"
            formControlName="orderBy"
          />
          <span class="switch">
            <span>{{
              filtersForm.value.actualProfile
                ? ("groupShowAll" | translate)
                : ("groupShowCurrentPeriod" | translate)
            }}</span>
            <p-inputSwitch formControlName="actualProfile" />
          </span>
        </div>
        <shared-button [label]="'groupDeleteFilters' | translate" />
      </div>
    </shared-dropdown>
  </div>
</header>
<hr />
<main class="main-content">
  <dashboard-profile-card
    *ngFor="let profile of profiles"
    [playerName]="profile.name + ' ' + profile.lastName"
    [deviceName]="profile.deviceSN"
    status="En actividad"
    [sna]="{
      sympathetic: profile.sleepData.hrv_rmssd_data?.length
        ? profile.sleepData.hrv_rmssd_data[0].lf
        : null,
      parasympathetic: profile.sleepData.hrv_rmssd_data?.length
        ? profile.sleepData.hrv_rmssd_data[0].hf
        : null
    }"
    [recovery]="
      profile.sleepData.hrv_data?.length
        ? profile.sleepData.hrv_data[0].totalRecovery
        : null
    "
    [sleepScore]="profile.sleepData.sleep_score || 0"
  />
</main>
