<header class="header">
  <form [formGroup]="periodForm">
    <shared-dropdown
      iconButton="pi-calendar"
      position="left-bottom"
      pTooltip="Seleccionar periodo"
      tooltipPosition="right"
      [items]="periodItems"
      [formGroup]="periodForm"
      formControlName="period"
    />
  </form>
  <form [formGroup]="teamForm" class="selectTeam">
    <i
      class="pi pi-arrow-left"
      style="font-size: 1rem"
      pTooltip="Ir al grupo anterior"
      tooltipPosition="left"
    ></i>
    <shared-dropdown
      labelButton="Grupo ejemplo"
      position="center-bottom"
      pTooltip="Ver todos los grupos"
      tooltipPosition="bottom"
      [items]="periodItems"
      [formGroup]="teamForm"
      formControlName="selectedTeam"
      [noButton]="true"
    />
    <i
      class="pi pi-arrow-right"
      style="font-size: 1rem"
      pTooltip="Ir al grupo siguiente"
      tooltipPosition="right"
    ></i>
  </form>
  <div class="buttons-right">
    <shared-dropdown
      labelButton="Descargar reporte"
      iconButton="pi-angle-down"
      [formGroup]="downloadForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <shared-select
            [options]="[]"
            optionLabel="name"
            placeholder="Seleccionar formato"
            [formGroup]="downloadForm"
            formControlName="format"
          />
          <shared-select
            [options]="[]"
            optionLabel="name"
            placeholder="Seleccionar rango"
            [formGroup]="downloadForm"
            formControlName="range"
          />
        </div>
        <shared-button label="Descargar" icon="pi-download" />
      </div>
    </shared-dropdown>
    <shared-dropdown
      iconButton="pi-filter"
      pTooltip="Filtros"
      [formGroup]="filtersForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <span class="p-input-icon-right">
            <input
              type="text"
              pInputText
              formControlName="searchByName"
              placeholder="Buscar por nombre..."
            />
            <i class="pi pi-search"></i>
          </span>
          <shared-select
            [options]="[]"
            optionLabel="name"
            placeholder="Ordenar por..."
            [formGroup]="filtersForm"
            formControlName="orderBy"
          />
          <span class="switch">
            <span>Mostrar todos</span>
            <p-inputSwitch formControlName="actualProfile" />
          </span>
        </div>
        <shared-button label="Borrar filtros" />
      </div>
    </shared-dropdown>
  </div>
</header>
<hr />
<main class="main-content">
  <dashboard-player-card />
</main>
