<header class="header">
  <form [formGroup]="periodForm" class="period">
    <shared-dropdown
      iconButton="pi-calendar"
      position="left-bottom"
      [pTooltip]="'groupPeriodSelect' | translate"
      tooltipPosition="right"
      [showDelay]="400"
      [items]="periodItems"
      [formGroup]="periodForm"
      formControlName="period"
      (dropdownChange)="selectSleepData($event)"
    />
  </form>
  <form [formGroup]="groupForm" class="selectGroup">
    <i
      class="pi pi-angle-left"
      style="font-size: 1.5rem"
      [pTooltip]="'groupForwardTooltip' | translate"
      tooltipPosition="left"
      [showDelay]="400"
      (click)="backGroup()"
      *ngIf="selectedGroupIndex !== 0"
    ></i>
    <shared-dropdown
      [labelButton]="groupForm.value.selectedGroup?.label"
      position="center-bottom"
      [tooltipButton]="'groupAllTooltip' | translate"
      tooltipPosition="bottom"
      [items]="groupsItems"
      [formGroup]="groupForm"
      formControlName="selectedGroup"
      [noButton]="true"
      (dropdownChange)="selectGroup($event)"
    />
    <i
      class="pi pi-angle-right"
      style="font-size: 1.5rem"
      [pTooltip]="'groupNextTooltip' | translate"
      tooltipPosition="right"
      [showDelay]="400"
      (click)="nextGroup()"
      *ngIf="selectedGroupIndex !== groupsItems.length - 1"
    ></i>
  </form>
  <div class="buttons-right">
    <shared-dropdown
      [labelButton]="'groupDownloadReportLabel' | translate"
      iconButton="pi-angle-down"
      [formGroup]="downloadForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <shared-select
            [options]="formatDownloadItems || []"
            [placeholder]="'groupSelectFormatPlaceholder' | translate"
            [formGroup]="downloadForm"
            formControlName="format"
          />
          <shared-select
            [options]="rangeDownloadItems || []"
            [placeholder]="'groupSelectRangePlaceholder' | translate"
            [formGroup]="downloadForm"
            formControlName="range"
          />
        </div>
        <shared-button
          [label]="'groupDownloadLabel' | translate"
          icon="pi-download"
          [disabled]="downloadForm.status === 'INVALID'"
        />
      </div>
    </shared-dropdown>
    <shared-dropdown
      iconButton="pi-filter"
      [pTooltip]="'groupFilterTooltip' | translate"
      [showDelay]="400"
      [formGroup]="filtersForm"
    >
      <div class="content-dropdown">
        <div class="selects">
          <span class="p-input-icon-right">
            <input
              type="text"
              pInputText
              formControlName="searchByName"
              [placeholder]="'groupSearchByName' | translate"
              (input)="filterProfiles()"
            />
            <i class="pi pi-search"></i>
          </span>
          <shared-select
            [options]="orderByItems || []"
            [placeholder]="'groupOrderBy' | translate"
            [formGroup]="filtersForm"
            formControlName="orderBy"
            (selectChange)="
              filterProfiles()
            "
          />
          <span class="switch">
            <span>{{
              filtersForm.value.actualProfile
                ? ("groupShowAll" | translate)
                : ("groupShowCurrentPeriod" | translate)
            }}</span>
            <p-inputSwitch
              formControlName="actualPeriod"
              (onChange)="
                filterProfiles()
              "
            />
          </span>
        </div>
        <div class="buttons-filters">
          <shared-button [label]="'groupDeleteFilters' | translate" />
        </div>
      </div>
    </shared-dropdown>
  </div>
</header>
<hr />
<main class="main-content">
  <dashboard-profile-card
    *ngFor="let profile of filteredProfiles"
    [profileId]="profile.id"
    [userId]="profile.userID"
    [profileName]="profile.name + ' ' + profile.lastName"
    [deviceName]="profile.deviceSN"
    status="En actividad"
    [sna]="{
      sympathetic:
        profile.selectedSleepData &&
        profile.selectedSleepData.hrv_rmssd_data?.length
          ? profile.selectedSleepData.hrv_rmssd_data[0].lf
          : null,
      parasympathetic:
        profile.selectedSleepData &&
        profile.selectedSleepData.hrv_rmssd_data?.length
          ? profile.selectedSleepData.hrv_rmssd_data[0].hf
          : null
    }"
    [recovery]="
      profile.selectedSleepData && profile.selectedSleepData.hrv_data?.length
        ? profile.selectedSleepData.hrv_data[0].totalRecovery
        : null
    "
    [sleepScore]="
      profile.selectedSleepData && profile.selectedSleepData.sleep_score
        ? profile.selectedSleepData.sleep_score > 100
          ? 100
          : profile.selectedSleepData.sleep_score
        : 0
    "
    [status]="profile.liveData ? profile.liveData.status : ''"
  />
</main>
