<div class="card-player">
  <div class="card-header">
    <span class="player-name">Sebastian Ruiz</span>
    <span class="device-name">Dispositivo NS: 000535</span>
    <span class="status-device"></span>
  </div>
  <hr />
  <div class="card-content">
    <div class="value-content">
      <div class="value">
        <i class="pi pi-angle-up" style="color: slateblue"></i>
        <span>56</span>
      </div>
      <span class="description-hrv"> HRV </span>
    </div>
    <div class="sleep-core">
      <!-- <shared-circle-progress-bar /> -->
      <!-- <img src="assets/icons/diamond.svg">
      <span class="value"> 96 </span> -->
    </div>
    <div class="value-content">
      <div class="value">
        <span>-1</span>
        <i class="pi pi-angle-down" style="color: slateblue"></i>
      </div>
      <span class="description-recovery"> Recovery </span>
    </div>
  </div>
</div>
