<div class="card-player">
  <div class="card-header">
    <span class="player-name">{{ playerName }}</span>
    <span class="device-name">{{
      deviceName
        ? "Dispositivo NS: " + deviceName
        : "Ningún dispositivo asociado"
    }}</span>
    <span
      *ngIf="status === 'Online' || status === 'Offline'; else active"
      class="status-device"
      [pTooltip]="status"
      tooltipPosition="right"
      [style]="{
        background: status === 'Online' ? '#1EE280' : '#898989'
      }"
    ></span>
    <ng-template #active>
      <img
        src="assets/icons/heart-rate.svg"
        class="status-device active"
        [pTooltip]="status"
        tooltipPosition="right"
      />
    </ng-template>
  </div>
  <hr />
  <div class="card-content">
    <div class="value-content">
      <i
        *ngIf="hrv"
        [class]="hrv > 0 ? 'pi pi-angle-up hrv' : 'pi pi-angle-down hrv'"
        style="color: slateblue"
      ></i>
      <div class="value">
        <span>{{ hrv || "-" }}</span>
        <span
          class="description-hrv"
          pTooltip="Es un indicador del nivel de salud cardiovascular
        y funciona como un marcador biológico
        del estado emocional."
          tooltipPosition="bottom"
        >
          HRV
        </span>
      </div>
    </div>
    <shared-circle-progress-bar [sleepScore]="sleepScore" />
    <div class="value-content">
      <div class="value">
        <span>{{ recovery || "-" }}</span>
        <span
          class="description-recovery"
          pTooltip="Representa la recuperación física durante el descanso respecto a la rutina diaria."
          tooltipPosition="bottom"
        >
          Recovery
        </span>
      </div>
      <i
        *ngIf="recovery"
        [class]="
          recovery > 0 ? 'pi pi-angle-up recovery' : 'pi pi-angle-down recovery'
        "
        style="color: slateblue"
        pTooltip="Indica un aumento/disminución de la recuperación comparado al último
        periodo de sueño"
        tooltipPosition="right"
      ></i>
    </div>
  </div>
</div>
