<div class="card-player">
  <div class="card-header">
    <span class="player-name">{{ playerName }}</span>
    <span class="device-name">{{
      deviceName
        ? ('profileCardDeviceName' | translate) + deviceName
        : ('profileCardAnyDevice' | translate)
    }}</span>
    <span
      *ngIf="status === 'Online' || status === 'Offline'; else active"
      class="status-device"
      [pTooltip]="status"
      tooltipPosition="right"
      [style]="{
        background: status === 'Online' ? '#1EE280' : '#898989'
      }"
    ></span>
    <ng-template #active>
      <img
        src="assets/icons/heart-rate.svg"
        class="status-device active"
        [pTooltip]="status"
        tooltipPosition="right"
      />
    </ng-template>
  </div>
  <hr />
  <div class="card-content">
    <div class="value-content">
      <div class="value">
        <i
          *ngIf="recovery"
          [class]="
            recovery > 0
              ? 'pi pi-angle-up recovery'
              : 'pi pi-angle-down recovery'
          "
          style="color: slateblue"
          [pTooltip]="
            recovery > 0
              ? ('profileCardRecoveryAscArrow' | translate)
              : ('profileCardRecoveryDescArrow' | translate)
          "
          tooltipPosition="left"
        ></i>
        <span>{{ recovery || "-" }}</span>
        <span
          class="description"
          [pTooltip]="'profileCardRecoveryDescriptionTooltip' | translate"
          tooltipPosition="bottom"
        >
          {{ 'profileCardRecoveryDescription' | translate }}
        </span>
      </div>
    </div>

    <shared-circle-progress-bar [sleepScore]="sleepScore" />

    <div class="value-content">
      <div class="value">
        <div *ngIf="sna; else empty" class="sna">
          <span
            [pTooltip]="'profileCardSNASTooltip' | translate"
            >{{ sna.simpatic }}<small>S</small>/</span
          >
          <span
            [pTooltip]="'profileCardSNAPTooltip' | translate"
            >{{ sna.parasimpatic }}<small>P</small></span
          >
        </div>
        <ng-template #empty>-</ng-template>
        <span
          class="description"
          [pTooltip]="'profileCardSNADescriptionTooltip' | translate"
          tooltipPosition="bottom"
        >
          {{ 'profileCardSNADescription' | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
