<div class="card-player" [routerLink]="['/dashboard/profile/1']">
  <div class="card-header">
    <span class="player-name">{{ playerName }}</span>
    <span class="device-name">{{
      deviceName
        ? ("profileCardDeviceName" | translate) + deviceName
        : ("profileCardAnyDevice" | translate)
    }}</span>
    <div *ngIf="deviceName">
      <span
        *ngIf="status === 'Offline'"
        class="status-device"
        [pTooltip]="status"
        tooltipPosition="left"
        [showDelay]="400"
        [style]="{
          background: '#898989'
        }"
      ></span>
      <span
        *ngIf="status === 'Online'"
        class="status-device"
        [pTooltip]="status"
        tooltipPosition="left"
        [showDelay]="400"
        [style]="{
          background: '#1EE280'
        }"
      ></span>
      <img
        *ngIf="status === 'En actividad'"
        src="assets/icons/heart-rate.svg"
        class="status-device active"
        [pTooltip]="status"
        tooltipPosition="left"
        [showDelay]="400"
      />
    </div>
  </div>
  <hr />
  <div class="card-content">
    <div class="value-content">
      <div class="value">
        <i
          *ngIf="recovery"
          [class]="
            recovery > previousRecovery
              ? 'pi pi-angle-up recovery'
              : 'pi pi-angle-down recovery'
          "
          style="color: slateblue"
          [pTooltip]="
            recovery > previousRecovery
              ? ('profileCardRecoveryAscArrow' | translate)
              : ('profileCardRecoveryDescArrow' | translate)
          "
          tooltipPosition="left"
          [showDelay]="400"
        ></i>
        <span>{{ recovery || "-" }}</span>
        <span
          class="description"
          [pTooltip]="'profileCardRecoveryDescriptionTooltip' | translate"
          tooltipPosition="bottom"
          [showDelay]="400"
        >
          {{ "profileCardRecoveryDescription" | translate }}
        </span>
      </div>
    </div>

    <shared-circle-progress-bar [sleepScore]="sleepScore || 0" />

    <div class="value-content">
      <div class="value">
        <div
          *ngIf="sna?.sympathetic && sna?.parasympathetic; else empty"
          class="sna"
        >
          <span
            [pTooltip]="'profileCardSNASTooltip' | translate"
            [showDelay]="400"
            >{{ sna?.sympathetic || 0 }}<small>S</small>/</span
          >
          <span
            [pTooltip]="'profileCardSNAPTooltip' | translate"
            [showDelay]="400"
            >{{ sna?.parasympathetic || 0 }}<small>P</small></span
          >
        </div>
        <ng-template #empty>-</ng-template>
        <span
          class="description"
          [pTooltip]="'profileCardSNADescriptionTooltip' | translate"
          tooltipPosition="bottom"
          [showDelay]="400"
        >
          {{ "profileCardSNADescription" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
