@import "../../../../variables.scss";

.card-player {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background: $grey-light;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;

  hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: $grey-super-light;
    color: $grey-super-light;
    margin-top: 5px;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .device-name {
      font-size: 12px;
      color: lighten($grey-super-light, 20%);
    }

    .status-device {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;

      &.active {
        width: 20px;
        height: 20px;
      }
    }
  }

  .card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    .hrv,
    .recovery {
      display: flex;
      align-items: center;
    }

    .value-content {
      position: relative;
      width: 80px;

      .pi {
        &.hrv {
          position: absolute;
          top: 1px;
          left: 5px;
        }
        &.recovery {
          position: absolute;
          top: 1px;
          right: 5px;
        }
      }

      .value {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        .description {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }
}
