@import "../../../../variables.scss";

:host ::ng-deep .p-button {
  background-color: $nyxsys-white;

  &:hover {
    background-color: darken($nyxsys-white, 10%);
  }
  &:focus {
    background-color: $nyxsys-white;
  }
}

:host ::ng-deep .p-button-icon,
:host ::ng-deep .p-button-label {
  color: $grey-light;
}
:host ::ng-deep .p-button {
  color: $grey-light;
  padding: 0.56rem;

  &.p-button-icon-only {
    width: 2.5rem;
    padding: 0.56rem;
  }
}
:host ::ng-deep .p-button {
  &.p-button-outlined {
    background: transparent;
    color: $nyxsys-white;

    .p-button-label {
      color: $nyxsys-white;
    }

    &:hover {
      background-color: $nyxsys-white;

      .p-button-label {
        color: $grey-light;
      }
    }
  }
}
