<div class="admin-content">
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminProfilesTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsProfilesForm">
        <div class="icon" *ngIf="dontShowHiddenProfiles; else showProfiles">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllProfilesTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenProfiles()"
          ></i>
        </div>
        <ng-template #showProfiles>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllProfilesTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenProfiles()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddProfileTooltip' | translate"
          (click)="toggleAddProfile()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterProfiles()"
          />
          <i class="pi pi-search"></i>
        </span>
        <shared-select
          [options]="groupsOptions"
          [placeholder]="'adminFilterPlaceholder' | translate"
          [formGroup]="actionsProfilesForm"
          formControlName="filterByGroup"
          (selectChange)="filterProfiles($event)"
        />
      </div>
    </div>
    <p-table
      [value]="filteredProfiles"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th class="column-center">{{ "adminColumnLastName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profile>
        <tr>
          <td>{{ profile.name }}</td>
          <td class="column-center">{{ profile.lastName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                *ngIf="profile.hided; else showProfile"
                class="pi pi-eye-slash"
                [pTooltip]="'adminShowProfileTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <ng-template #showProfile>
                <i
                  class="pi pi-eye"
                  [pTooltip]="'adminHideProfileTooltip' | translate"
                  tooltipPosition="bottom"
                ></i>
              </ng-template>
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditProfileTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteProfileTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminDevicesTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsDevicesForm">
        <div class="icon" *ngIf="dontShowHiddenDevices; else showDevices">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllDevicesTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenDevices()"
          ></i>
        </div>
        <ng-template #showDevices>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllDevicesTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenDevices()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddDeviceTooltip' | translate"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterDevices()"
          />
          <i class="pi pi-search"></i>
        </span>
        <shared-select
          [options]="groupsOptions"
          [placeholder]="'adminFilterPlaceholder' | translate"
          [formGroup]="actionsProfilesForm"
          formControlName="filterByGroup"
          (selectChange)="filterDevices($event)"
        />
      </div>
    </div>
    <p-table
      [value]="filteredDevices"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnSerialNumber" | translate }}</th>
          <th>{{ "adminColumnLinked" | translate }}</th>
          <th>{{ "adminColumnStatus" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-device>
        <tr>
          <td>{{ device.serialNumber }}</td>
          <td>
            {{
              device.playerName
                ? device.playerName
                : ("adminNotLinked" | translate)
            }}
          </td>
          <td>???</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-cog"
                [pTooltip]="'adminEditDeviceTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteDeviceTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminGroupsTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsGroupsForm">
        <div class="icon" *ngIf="dontShowHiddenGroups; else showGroups">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllGroupsTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenGroups()"
          ></i>
        </div>
        <ng-template #showGroups>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllGroupsTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenGroups()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddGroupTooltip' | translate"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterGroups()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredGroups"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.teamName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                *ngIf="group.hided; else showGroup"
                class="pi pi-eye-slash"
                [pTooltip]="'adminShowGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <ng-template #showGroup>
                <i
                  class="pi pi-eye"
                  [pTooltip]="'adminHideGroupTooltip' | translate"
                  tooltipPosition="bottom"
                ></i>
              </ng-template>
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminCollaboratorsTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsCollaboratorsForm">
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddCollaboratorTooltip' | translate"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterCollaborators()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredCollaborators"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th>{{ "adminColumnLinked" | translate }}</th>
          <th>{{ "adminColumnRole" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-collaborator>
        <tr>
          <td>{{ collaborator.nickName }}</td>
          <td>???</td>
          <td>{{ collaborator.role | titlecase }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteCollaboratorTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card" *ngIf="role === 'superAdmin'">
    <div class="card-header">
      <p class="title-table">{{ "adminUsersTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsUsersForm">
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddUserTooltip' | translate"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterUsers()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredUsers"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.nickName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditUserTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteUserTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<shared-modal [showModal]="showAddProfile" title="Añadir perfil" width="25vw">
  <div class="modal-content" [formGroup]="addProfileForm">
    <shared-input-text
      [formGroup]="addProfileForm"
      formControlName="name"
      placeholder="Nombre"
      [error]="false"
      helper=""
    />
    <shared-input-text
      [formGroup]="addProfileForm"
      formControlName="lastName"
      placeholder="Apellido"
      [error]="false"
      helper=""
    />
    <p-calendar
      formControlName="birthdate"
      dateFormat="dd/mm/yy"
      placeholder="Fecha de nacimiento"
      [showIcon]="true"
    />
    <shared-select
      [options]="genderItems"
      placeholder="Género"
      [formGroup]="addProfileForm"
      formControlName="gender"
    />
    <p-dropdown
      [options]="countriesItems"
      optionLabel="label"
      placeholder="Lugar de nacimiento"
      formControlName="birthplace"
    >
      <ng-template pTemplate="selectedItem">
        <div class="dropdown-item" *ngIf="addProfileForm.value.birthplace">
          <img
            [src]="addProfileForm.value.birthplace.img"
            style="width: 18px"
          />
          <div>{{ addProfileForm.value.birthplace.label }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="dropdown-item">
          <img [src]="country.img" style="width: 18px" />
          <div>{{ country.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <shared-select
      [options]="usersItems"
      placeholder="Seleccionar usuario"
      [formGroup]="addProfileForm"
      formControlName="user"
    />
    <div class="buttons-modal">
      <shared-button label="Guardar" />
      <shared-button
        label="Cancelar"
        variant="secondary"
        (click)="toggleAddProfile()"
      />
    </div>
  </div>
</shared-modal>
