<div class="admin-content">
  <!-- PERFILES -->
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminProfilesTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsProfilesForm">
        <div class="icon" *ngIf="dontShowHiddenProfiles; else showProfiles">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllProfilesTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenProfiles()"
          ></i>
        </div>
        <ng-template #showProfiles>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllProfilesTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenProfiles()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddProfileTooltip' | translate"
          (click)="toggleAddProfile()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterProfiles()"
          />
          <i class="pi pi-search"></i>
        </span>
        <shared-select
          [options]="groupsItems"
          [placeholder]="'adminFilterPlaceholder' | translate"
          [formGroup]="actionsProfilesForm"
          formControlName="filterByGroup"
          (selectChange)="filterProfiles($event)"
        />
      </div>
    </div>
    <p-table
      [value]="filteredProfiles"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th class="column-center">{{ "adminColumnLastName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profile>
        <tr>
          <td>{{ profile.name }}</td>
          <td class="column-center">{{ profile.lastName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                *ngIf="profile.hided; else showProfile"
                class="pi pi-eye-slash"
                [pTooltip]="'adminShowProfileTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <ng-template #showProfile>
                <i
                  class="pi pi-eye"
                  [pTooltip]="'adminHideProfileTooltip' | translate"
                  tooltipPosition="bottom"
                ></i>
              </ng-template>
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditProfileTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteProfileTooltip' | translate"
                tooltipPosition="bottom"
                (click)="toggleConfirmDeleteProfile(profile.userID, profile.id)"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- DISPOSITIVOS -->
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminDevicesTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsDevicesForm">
        <div class="icon" *ngIf="dontShowHiddenDevices; else showDevices">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllDevicesTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenDevices()"
          ></i>
        </div>
        <ng-template #showDevices>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllDevicesTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenDevices()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddDeviceTooltip' | translate"
          (click)="toggleAddDevice()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterDevices()"
          />
          <i class="pi pi-search"></i>
        </span>
        <shared-select
          [options]="groupsItems"
          [placeholder]="'adminFilterPlaceholder' | translate"
          [formGroup]="actionsProfilesForm"
          formControlName="filterByGroup"
          (selectChange)="filterDevices($event)"
        />
      </div>
    </div>
    <p-table
      [value]="filteredDevices"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnSerialNumber" | translate }}</th>
          <th>{{ "adminColumnLinked" | translate }}</th>
          <th>{{ "adminColumnStatus" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-device>
        <tr>
          <td>{{ device.serialNumber }}</td>
          <td>
            {{
              device.playerName
                ? device.playerName
                : ("adminNotLinked" | translate)
            }}
          </td>
          <td>{{ device.status }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-cog"
                [pTooltip]="'adminEditDeviceTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteDeviceTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- GRUPOS -->
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminGroupsTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsGroupsForm">
        <div class="icon" *ngIf="dontShowHiddenGroups; else showGroups">
          <i
            class="pi pi-eye"
            style="font-size: 1.6rem"
            [pTooltip]="'adminShowAllGroupsTooltip' | translate"
            tooltipPosition="bottom"
            (click)="toggleHiddenGroups()"
          ></i>
        </div>
        <ng-template #showGroups>
          <div class="icon">
            <i
              class="pi pi-eye-slash"
              style="font-size: 1.6rem"
              [pTooltip]="'adminHideAllGroupsTooltip' | translate"
              tooltipPosition="bottom"
              (click)="toggleHiddenGroups()"
            ></i>
          </div>
        </ng-template>
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddGroupTooltip' | translate"
          (click)="toggleAddGroup()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterGroups()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredGroups"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.teamName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                *ngIf="group.hided; else showGroup"
                class="pi pi-eye-slash"
                [pTooltip]="'adminShowGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <ng-template #showGroup>
                <i
                  class="pi pi-eye"
                  [pTooltip]="'adminHideGroupTooltip' | translate"
                  tooltipPosition="bottom"
                ></i>
              </ng-template>
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteGroupTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- COLABORADORES -->
  <div class="card">
    <div class="card-header">
      <p class="title-table">{{ "adminCollaboratorsTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsCollaboratorsForm">
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddCollaboratorTooltip' | translate"
          (click)="toggleAddCollaborator()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterCollaborators()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredCollaborators"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th>{{ "adminColumnLinked" | translate }}</th>
          <th>{{ "adminColumnRole" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-collaborator>
        <tr>
          <td>{{ collaborator.nickName }}</td>
          <td>{{ collaborator.linked }}</td>
          <td>{{ collaborator.role | titlecase }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteCollaboratorTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- USUARIOS -->
  <div class="card" *ngIf="userRole === 'superAdmin'">
    <div class="card-header">
      <p class="title-table">{{ "adminUsersTitle" | translate }}</p>
      <div class="actions-header" [formGroup]="actionsUsersForm">
        <shared-button
          icon="pi-plus"
          [tooltipButton]="'adminAddUserTooltip' | translate"
          (click)="toggleAddUser()"
        />
        <span class="p-input-icon-right">
          <input
            type="text"
            pInputText
            formControlName="search"
            [placeholder]="'adminSearchPlaceholder' | translate"
            (input)="filterUsers()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>
    <p-table
      [value]="filteredUsers"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "adminColumnName" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.nickName }}</td>
          <td class="column-rigth">
            <div class="actions">
              <i
                class="pi pi-user-edit"
                [pTooltip]="'adminEditUserTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
              <i
                class="pi pi-trash"
                [pTooltip]="'adminDeleteUserTooltip' | translate"
                tooltipPosition="bottom"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-toast [style]="{
  zIndex: 10000
}"></p-toast>

<!-- MODAL AÑADIR PERFIL -->
<shared-modal [showModal]="showAddProfile" title="Añadir perfil" width="25vw">
  <div class="modal-content" [formGroup]="addProfileForm">
    <shared-input-text
      [formGroup]="addProfileForm"
      formControlName="name"
      [placeholder]="'adminModalAddProfileName' | translate"
      [error]="false"
      helper=""
    />
    <shared-input-text
      [formGroup]="addProfileForm"
      formControlName="lastName"
      [placeholder]="'adminModalAddProfileLastname' | translate"
      [error]="false"
      helper=""
    />
    <p-calendar
      formControlName="birthdate"
      dateFormat="dd/mm/yy"
      [placeholder]="'adminModalAddProfileBirthDate' | translate"
      [showIcon]="true"
    />
    <shared-select
      [options]="genderItems"
      [placeholder]="'adminModalAddProfileGender' | translate"
      [formGroup]="addProfileForm"
      formControlName="sex"
    />
    <p-dropdown
      [options]="countriesItems"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'adminModalAddProfileBirthplace' | translate"
      formControlName="birthplace"
    >
      <ng-template pTemplate="selectedItem">
        <div class="dropdown-item" *ngIf="addProfileForm.value.birthplace">
          <div>{{ addProfileForm.value.birthplace.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="dropdown-item">
          <img [src]="country.img" style="width: 18px" />
          <div>{{ country.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <shared-select
      *ngIf="userRole === 'superAdmin'"
      [options]="usersItems"
      [placeholder]="'adminModalAddProfileUser' | translate"
      [formGroup]="addProfileForm"
      formControlName="userID"
    />
    <shared-select
      [options]="groupsItems"
      [placeholder]="'adminModalAddProfileGroup' | translate"
      [formGroup]="addProfileForm"
      formControlName="teamID"
    />
    <div class="buttons-modal">
      <shared-button [label]="'adminModalSave' | translate" (click)="addProfile()" [disabled]="addProfileForm.status === 'INVALID'" />
      <shared-button
        [label]="'adminModalCancel' | translate"
        variant="secondary"
        (click)="toggleAddProfile()"
      />
    </div>
  </div>
</shared-modal>

<!-- MODAL CONFIRMAR ELIMINAR PERFIL -->
<shared-modal
  [showModal]="showConfirmDeleteProfile"
  [title]="'settingsConfirmModalTitle' | translate"
>
  <p>Esta acción es permanente</p>
  <div class="buttons-modal">
    <shared-button [label]="'settingsConfirmModalAccept' | translate" (click)="deleteProfile()" />
    <shared-button
      [label]="'settingsConfirmModalCancel' | translate"
      variant="secondary"
      (click)="toggleConfirmDeleteProfile()"
    />
  </div>
</shared-modal>

<!-- MODAL AÑADIR DISPOSITIVO -->
<shared-modal
  [showModal]="showAddDevice"
  title="Añadir dispositivo"
  width="25vw"
>
  <div class="modal-content" [formGroup]="addDeviceForm">
    <shared-input-text
      [formGroup]="addDeviceForm"
      formControlName="serialNumber"
      [placeholder]="'adminModalAddDeviceSerialNumber' | translate"
      [error]="false"
      helper=""
    />
    <shared-input-text
      [formGroup]="addDeviceForm"
      formControlName="verificationCode"
      [placeholder]="'adminModalAddDeviceCode' | translate"
      [error]="false"
      helper=""
    />
    <shared-select
      *ngIf="userRole === 'superAdmin'"
      [options]="usersItems"
      [placeholder]="'adminModalAddDeviceUser' | translate"
      [formGroup]="addDeviceForm"
      formControlName="user"
    />
    <div class="buttons-modal">
      <shared-button [label]="'adminModalSave' | translate" />
      <shared-button
        [label]="'adminModalCancel' | translate"
        variant="secondary"
        (click)="toggleAddDevice()"
      />
    </div>
  </div>
</shared-modal>

<!-- MODAL AÑADIR GRUPO -->
<shared-modal [showModal]="showAddGroup" title="Añadir grupo" width="25vw">
  <div class="modal-content" [formGroup]="addGroupForm">
    <shared-input-text
      [formGroup]="addGroupForm"
      formControlName="name"
      [placeholder]="'adminModalAddGroupName' | translate"
      [error]="false"
      helper=""
    />
    <shared-select
      [options]="gmtItems"
      [placeholder]="'adminModalAddGroupGMT' | translate"
      [formGroup]="addGroupForm"
      formControlName="gmt"
    />
    <shared-select
      *ngIf="userRole === 'superAdmin'"
      [options]="usersItems"
      [placeholder]="'adminModalAddGroupUser' | translate"
      [formGroup]="addGroupForm"
      formControlName="user"
    />
    <div class="buttons-modal">
      <shared-button [label]="'adminModalSave' | translate" />
      <shared-button
        [label]="'adminModalCancel' | translate"
        variant="secondary"
        (click)="toggleAddGroup()"
      />
    </div>
  </div>
</shared-modal>

<!-- MODAL AÑADIR COLABORADOR -->
<shared-modal
  [showModal]="showAddCollaborator"
  title="Añadir colaborador"
  width="25vw"
>
  <div class="modal-content" [formGroup]="addCollaboratorForm">
    <shared-input-text
      [formGroup]="addCollaboratorForm"
      formControlName="email"
      [placeholder]="'adminModalAddCollaboratorEmail' | translate"
      [error]="false"
      helper=""
    />
    <shared-input-password
      [placeholder]="'adminModalAddCollaboratorPassword' | translate"
      helper=""
      [error]="false"
      [formGroup]="addCollaboratorForm"
      formControlName="password"
    />
    <shared-input-password
      [placeholder]="'adminModalAddCollaboratorConfirmPassword' | translate"
      helper=""
      [error]="false"
      [formGroup]="addCollaboratorForm"
      formControlName="confirmPassword"
    />
    <shared-input-text
      [formGroup]="addCollaboratorForm"
      formControlName="alias"
      [placeholder]="'adminModalAddCollaboratorAlias' | translate"
      [error]="false"
      helper=""
    />
    <shared-select
      [options]="roleCollaboratorItems"
      [placeholder]="'adminModalAddCollaboratorRole' | translate"
      [formGroup]="addCollaboratorForm"
      formControlName="role"
    />
    <shared-select
      *ngIf="userRole === 'superAdmin'"
      [options]="usersItems"
      [placeholder]="'adminModalAddCollaboratorUser' | translate"
      [formGroup]="addCollaboratorForm"
      formControlName="user"
    />
    <div class="buttons-modal">
      <shared-button [label]="'adminModalSave' | translate" />
      <shared-button
        [label]="'adminModalCancel' | translate"
        variant="secondary"
        (click)="toggleAddCollaborator()"
      />
    </div>
  </div>
</shared-modal>

<!-- MODAL AÑADIR USUARIO -->
<shared-modal [showModal]="showAddUser" title="Añadir usuario" width="25vw">
  <div class="modal-content" [formGroup]="addUserForm">
    <shared-input-text
      [formGroup]="addUserForm"
      formControlName="email"
      [placeholder]="'adminModalAddUserEmail' | translate"
      [error]="false"
      helper=""
    />
    <shared-input-text
      [formGroup]="addUserForm"
      formControlName="alias"
      [placeholder]="'adminModalAddUserAlias' | translate"
      [error]="false"
      helper=""
    />
    <shared-select
      [options]="roleUserItems"
      [placeholder]="'adminModalAddUserRole' | translate"
      [formGroup]="addUserForm"
      formControlName="role"
    />
    <div class="buttons-modal">
      <shared-button [label]="'adminModalSave' | translate" />
      <shared-button
        [label]="'adminModalCancel' | translate"
        variant="secondary"
        (click)="toggleAddUser()"
      />
    </div>
  </div>
</shared-modal>
