<div class="progress-bar" [ngClass]="{'xl': xl}">
  <img
    *ngIf="sleepScore >= 90"
    src="assets/icons/diamond.svg"
    [pTooltip]="'sleepScoreTooltipDiamond' | translate"
    [showDelay]="400"
    class="diamond"
  />
  <span
    [pTooltip]="'sleepScoreTooltip' | translate"
    tooltipPosition="bottom"
    [showDelay]="400"
    class="value"
  >
    {{ sleepScore }}
  </span>
  <round-progress
    [current]="sleepScore"
    [max]="max"
    [color]="'url(#gradient)'"
    [background]="'#2f2f2f'"
    [radius]="xl ? 60 : 40"
    [stroke]="xl ? 15 : 10"
    [rounded]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
  />
  <svg>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="5%" stop-color="#7993EE" />
      <stop offset="25%" stop-color="#3043CE" />
      <stop offset="75%" stop-color="#1D2C95" />
      <stop offset="95%" stop-color="#000A3D" />
    </linearGradient>
  </svg>
</div>
