<div class="progress-bar" [ngClass]="{'xl': xl}">
  <img
    *ngIf="sleepScore >= 90"
    src="assets/icons/diamond.svg"
    [pTooltip]="'sleepScoreTooltipDiamond' | translate"
    [showDelay]="400"
    class="diamond"
  />
  <span
    [pTooltip]="'sleepScoreTooltip' | translate"
    tooltipPosition="bottom"
    [showDelay]="400"
    class="value"
  >
    {{ sleepScore > 100 ? 100 : sleepScore }}
  </span>
  <round-progress
    [current]="sleepScore"
    [max]="max"
    [color]="'url(#gradient)'"
    [background]="'#2f2f2f'"
    [radius]="xl ? 60 : 40"
    [stroke]="xl ? 15 : 10"
    [rounded]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
  />
  <svg>
    <linearGradient id="gradient" x1="100%" y1="0%" x2="0%" y2="100%">
      <stop offset="5%" stop-color="#26A7FF" />
      <stop offset="50%" stop-color="#544FC5" />
    </linearGradient>
  </svg>
</div>
