<div class="main-settings">
  <div class="card main">
    <h4>Tutoriales y FAQs</h4>
    <div class="card-content-main">
      <div class="videos">
        <div class="video">
          <h6>Uso correcto del dispositivo</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
        <div class="video">
          <h6>Recorrido por la plataforma</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
        <div class="video"></div>
      </div>
      <div class="pdf"></div>
      <div class="faqs"></div>
    </div>
  </div>
  <div class="card">
    <h4>Contacto</h4>
  </div>
  <div class="card">
    <h4>Cambio de contraseña</h4>
  </div>
</div>
