<div class="main-settings">
  <div class="card main">
    <h4>Tutoriales y FAQs</h4>
    <div class="content-main">
      <div class="videos">
        <div class="video">
          <h6>Uso correcto del dispositivo</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
        <div class="video">
          <h6>Recorrido por la plataforma</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
      </div>
      <div class="pdf-container">
        <div class="pdf">
          <img src="assets/icons/pdf.svg" alt="download pdf" />
          <p>Instrucciones de instalación y uso</p>
        </div>
        <div class="pdf">
          <img src="assets/icons/pdf.svg" alt="download pdf" />
          <p>Guía rápida</p>
        </div>
      </div>
      <div class="faqs">
        <p-accordion>
          <p-accordionTab
            header="¿Cómo sé si mi dispositivo está conectado a internet?"
          >
            <p>
              Comprueba que el led verde ubicado en el frente del dispositivo
              esté encendido, si no, comprueba el estado de tu red de internet.
            </p>
          </p-accordionTab>
          <p-accordionTab header="El perfil no aparece en el panel grupal.">
            <p>
              Comprueba en el panel de administración que el perfil no esté
              “oculto”.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="Cuando estoy conectando el dispositivo a internet, al ingresar la contraseña del mismo, obtengo un error de “contraseña incorrecta”."
          >
            <p>
              Recuerda que al ingresar la contraseña del dispositivo, también
              debes incluir los guiones medios, es decir, debes introducir la
              contraseña exactamente como está escrita, aquí un ejemplo:
              “xxxx-xxxx-xxx”.
            </p>
          </p-accordionTab>
          <p-accordionTab header="¿Dónde debe colocarse el sensor?">
            <p>
              El sensor debe instalarse exclusivamente debajo del colchón o
              cubrecolchón. Para captar una señal más fuerte, la parte central
              del sensor (la banda plástica) debe ubicarse directamente debajo o
              a la altura del corazón del usuario cuando está acostado.<br /><br />Si
              tiene una cama doble y son dos personas durmiendo, debe colocar el
              sensor lo más cerca posible del borde de la cama con el cable
              hacia un lado, de forma paralela a su cuerpo, siempre con la mayor
              parte de la banda ubicada a la altura del corazón. En caso que se
              utilice una cama doble pero sólo duerma el usuario, se recomienda
              ubicar el sensor en forma perpendicular al usuario, siempre a la
              altura del corazón, pero posicionando el dispositivo de un lado u
              otro de la cama o más en el centro, de acuerdo a las preferencias
              de posición del usuario en la cama.<br /><br />Evite que el cable
              pase por el medio de la cama, ya que puede provocar señales
              equívocas.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="¿El dispositivo tiene que estar siempre conectado a la corriente?"
          >
            <p>
              El dispositivo utiliza una cantidad insignificante de energía, por
              lo que no es necesario desconectarlo para ahorrar electricidad.<br /><br />Si
              desea desconectarlo mientras no lo utiliza, hágalo solo 10 minutos
              después de salir de la cama, para que el dispositivo tenga tiempo
              suficiente para enviar el evento de salida de la cama a nuestros
              servidores. De lo contrario, pueden producirse periodos de
              presencia excesivamente largos. De igual manera cuando vuelve a
              conectarse al momento de ir a dormir, debe hacerse 10 minutos
              antes de su presencia en la cama.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="Si apago el dispositivo y vuelvo a encenderlo ¿se reconecta automáticamente a la red wifi a la que estaba previamente conectado?"
          >
            <p>
              Si la red wifi es la misma que la última a la que se conectó el
              dispositivo, no hay necesidad de volver a configurar el
              dispositivo.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="¿Cómo puedo ver resultados de noches anteriores?"
          >
            <p>
              Toda la información de sus noches la encontrará disponible en la
              plataforma Nyx-Sys, clickeando en el ícono -X- del panel
              individual.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="¿Qué significa el mensaje de error con el ícono -X- que indica que algunos datos de la noche no han podido ser procesados?"
          >
            <p>
              La pérdida de datos durante un período de sueño, puede deberse a
              múltiples factores, usualmente los más comunes son:<br /><br />-
              Una baja señal del dispositivo. Para solucionarlo debe volver a
              posicionar el dispositivo debajo de su cama de acuerdo a las
              recomendaciones dadas en el punto X.<br /><br />- En caso de
              compartir una cama doble con una segunda persona, el dispositivo
              registró datos de ambas personas y generó datos equívocos o
              superpuestos.<br /><br />- Hubo un corte en el suministro
              eléctrico durante el registro.
            </p>
          </p-accordionTab>
          <p-accordionTab
            header="¿Qué significa la luz roja parpadeante en el dispositivo?"
          >
            <p>
              Generalmente los destellos rojos son una indicación de problemas
              de conexión a la red. Si esas interrupciones son de corta
              duración, no debería preocuparse.
            </p>
          </p-accordionTab>
          <p-accordionTab header="¿Qué sucede si se corta internet?">
            <p>
              Si la conexión a Internet se pierde temporalmente, la memoria
              interna registrará hasta 12 horas de datos, cuando se restablezca
              la conexión, los datos se envían a la nube para ser procesados.
            </p>
          </p-accordionTab>
          <p-accordionTab header="¿Puedo utilizar el sensor en una cama doble?">
            <p>
              Sí, puedes utilizar el dispositivo en una cama doble. Sin embargo,
              el extremo del cable del sensor debe instalarse lo más cerca
              posible del borde, ya que es posible que los movimientos de su
              cónyuge provoquen un registro de presencia más prolongado después
              de que usted se levanta de la cama.
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="contact" [formGroup]="contactForm">
      <h4>Contacto</h4>
      <shared-input-text
        [placeholder]="'loginPlaceholderEmail' | translate"
        [helper]="'loginInvalidEmail' | translate"
        [error]=""
        [formGroup]="contactForm"
        formControlName="email"
      />
      <shared-input-text
        [placeholder]="'loginPlaceholderEmail' | translate"
        [helper]="'loginInvalidEmail' | translate"
        [error]=""
        [formGroup]="contactForm"
        formControlName="subject"
      />
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        placeholder="Mensaje"
        [autoResize]="true"
        formControlName="message"
      ></textarea>
      <div class="button">
        <shared-button label="Enviar" (click)="sendEmail()" [disabled]="contactForm.status === 'INVALID'" />
      </div>
    </div>
    <div class="social-container">
      <div class="logo-container">
        <img src="assets/logos/NYXSYS_WHITE.svg" alt="logo" class="logo" />
        <small>Visita nuestra web</small>
        <p>www.nyx-sys.com</p>
      </div>
      <div class="social">
        <p>También encuéntranos en redes sociales</p>
        <div class="social-logos">
          <i class="pi pi-youtube" style="font-size: 2rem"></i>
          <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
          <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
          <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="password" [formGroup]="resetPasswordForm">
      <h4>Cambio de contraseña</h4>
      <shared-input-password
        placeholder="Contraseña actual"
        [helper]="validateInputPassword('actual')"
        [error]="!!validateInputPassword('actual')"
        [formGroup]="resetPasswordForm"
        formControlName="actual"
      />
      <shared-input-password
        placeholder="Contraseña nueva"
        [helper]="validateInputPassword('new')"
        [error]="!!validateInputPassword('new')"
        [formGroup]="resetPasswordForm"
        formControlName="new"
      />
      <shared-input-password
        placeholder="Confirmar contraseña"
        [helper]="validateInputPassword('confirm')"
        [error]="!!validateInputPassword('confirm')"
        [formGroup]="resetPasswordForm"
        formControlName="confirm"
      />
      <div class="button">
        <shared-button label="Guardar" (click)="updatePassword()" [disabled]="resetPasswordForm.status === 'INVALID'" />
      </div>
    </div>
    <div class="delete-account">
      <p>Dar de baja mi cuenta</p>
      <small
        >¿Deseas eliminar tu cuenta de forma permanente? Ten en cuenta que se
        perderá toda la información relacionada con la misma. No podrás
        re-activarla ni recuperar su contenido.<br /><br />La acción se hará
        efectiva a las 48hs, en caso de haber sido un error, por favor
        comunícate con nuestro equipo de soporte.</small
      >
      <div class="button">
        <a>Eliminar cuenta</a>
      </div>
    </div>
  </div>
</div>
