<div class="main-settings">
  <div class="card main">
    <h4>{{ "settingsHelpCardTitle" | translate }}</h4>
    <div class="content-main">
      <div class="videos">
        <div class="video">
          <h6>{{ "settingsVideoCorrectUse" | translate }}</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
        <div class="video">
          <h6>{{ "settingsVideoRoute" | translate }}</h6>
          <div class="video-container">
            <youtube-player
              videoId="5dDG8hOHV24"
              [width]="400"
              [height]="250"
              suggestedQuality="highres"
            />
          </div>
        </div>
      </div>
      <div class="pdf-container">
        <div class="pdf">
          <img src="assets/icons/pdf.svg" alt="download pdf" />
          <p>{{ "settingsPdfInstructions" | translate }}</p>
        </div>
        <div class="pdf">
          <img src="assets/icons/pdf.svg" alt="download pdf" />
          <p>{{ "settingsPdfGuide" | translate }}</p>
        </div>
      </div>
      <div class="faqs">
        <p-accordion>
          <p-accordionTab [header]="'settingsFAQ1Title' | translate">
            <p>
              {{ "settingsFAQ1Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ2Title' | translate">
            <p>
              {{ "settingsFAQ2Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ3Title' | translate">
            <p>
              {{ "settingsFAQ3Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ4Title' | translate">
            <p>
              {{ "settingsFAQ4Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ5Title' | translate">
            <p>
              {{ "settingsFAQ5Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ6Title' | translate">
            <p>
              {{ "settingsFAQ6Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ7Title' | translate">
            <p>
              {{ "settingsFAQ7Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ8Title' | translate">
            <p>
              {{ "settingsFAQ8Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ9Title' | translate">
            <p>
              {{ "settingsFAQ9Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ10Title' | translate">
            <p>
              {{ "settingsFAQ10Desc" | translate }}
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="'settingsFAQ11Title' | translate">
            <p>
              {{ "settingsFAQ11Desc" | translate }}
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="contact" [formGroup]="contactForm">
      <h4>{{ "settingsContactCardTitle" | translate }}</h4>
      <shared-input-text
        [placeholder]="'settingsPlaceholderEmail' | translate"
        [helper]="validateInputContact('email')"
        [error]="!!validateInputContact('email')"
        [formGroup]="contactForm"
        formControlName="email"
      />
      <shared-input-text
        [placeholder]="'settingsPlaceholderSubject' | translate"
        [helper]="validateInputContact('subject')"
        [error]="!!validateInputContact('subject')"
        [formGroup]="contactForm"
        formControlName="subject"
      />
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [placeholder]="'settingsPlaceholderMessage' | translate"
        [autoResize]="true"
        formControlName="message"
        [class.ng-invalid]="!!validateInputContact('message')"
        [class.ng-dirty]="!!validateInputContact('message')"
      ></textarea>
      <div class="button">
        <shared-button
          [label]="'settingsButtonSend' | translate"
          (click)="sendEmail()"
          [disabled]="contactForm.status === 'INVALID'"
        />
      </div>
    </div>
    <div class="social-container">
      <div class="logo-container">
        <a
          href="https://nyx-sys.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/logos/NYXSYS_WHITE.svg" alt="logo" class="logo" />
        </a>
        <small>{{ "settingsVisitWeb" | translate }}</small>
        <a
          href="https://nyx-sys.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          www.nyx-sys.com
        </a>
      </div>
      <div class="social">
        <p>{{ "settingsSocialAccounts" | translate }}</p>
        <div class="social-logos">
          <a
            href="https://www.youtube.com/@Nyx-Sys"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="pi pi-youtube" style="font-size: 2rem"></i>
          </a>
          <a
            href="https://www.instagram.com/nyx_sys?igshid=OGQ5ZDc2ODk2ZA=="
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
          </a>
          <a
            href="https://www.facebook.com/nyxsys.sleep?mibextid=2JQ9oc"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/nyx-sys/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="password" [formGroup]="resetPasswordForm">
      <h4>{{ "settingsPasswordCardTitle" | translate }}</h4>
      <shared-input-password
        [placeholder]="'settingsPlaceholderActualPassword' | translate"
        [helper]="validateInputPassword('actual')"
        [error]="!!validateInputPassword('actual')"
        [formGroup]="resetPasswordForm"
        formControlName="actual"
      />
      <shared-input-password
        [placeholder]="'settingsPlaceholderNewPassword' | translate"
        [helper]="validateInputPassword('new')"
        [error]="!!validateInputPassword('new')"
        [formGroup]="resetPasswordForm"
        formControlName="new"
      />
      <shared-input-password
        [placeholder]="'settingsPlaceholderConfirmPassword' | translate"
        [helper]="validateInputPassword('confirm')"
        [error]="!!validateInputPassword('confirm')"
        [formGroup]="resetPasswordForm"
        formControlName="confirm"
      />
      <div class="button">
        <shared-button
          [label]="'settingsButtonSave' | translate"
          (click)="updatePassword()"
          [disabled]="resetPasswordForm.status === 'INVALID'"
        />
      </div>
    </div>
    <div class="delete-account">
      <p>{{ "settingsDeleteAccountTitle" | translate }}</p>
      <small>{{ "settingsDeleteAccountDesc" | translate }}</small>
      <div class="button">
        <a>{{ "settingsDeleteAccountButton" | translate }}</a>
      </div>
    </div>
  </div>
</div>
