@import "../../../../variables.scss";

form {
  width: 100%;
}
.background {
  z-index: 200;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown {
  display: flex;
  justify-content: center;
  position: relative;

  .buttonText {
    cursor: pointer;
    user-select: none;
  }

  ng-content {
    width: 100%;
  }

  .popup {
    min-width: 300px;
    height: 0px;
    display: flex;
    justify-content: center;
    border: none;
    position: absolute;
    padding: 0;
    background: $grey-light;
    border-radius: 5px;
    z-index: 210;

    &.items {
      display: unset;

      &.show {
        height: min-content;
        max-height: 301px;
        overflow-y: scroll;
      }
    }

    .selects {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .item {
      padding: 15px;
      border-bottom: 1px solid #3f3f3f;
      min-width: 150px;
      display: none;
      background: $grey-light;
      user-select: none;
      text-wrap: nowrap;

      &.show {
        display: block;
      }

      &:hover {
        background: lighten($grey-light, 10%);
      }
    }

    &.right-bottom {
      top: 45px;
      right: 0;
    }
    &.right-top {
      bottom: 45px;
      right: 0;
    }
    &.left-bottom {
      top: 45px;
      left: 0;
    }
    &.left-top {
      bottom: 45px;
      left: 0;
    }
    &.center-bottom {
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.show {
      height: fit-content;
      border: solid 1px #3f3f3f;
      padding: 16px;
    }
    &.no-padding {
      padding: 0;
    }
  }
}
