<form [formGroup]="formGroup">
  <div class="background" *ngIf="showPopup" (click)="tooglePopup()"></div>
  <div class="dropdown">
    <span (click)="tooglePopup()" class="external-label">{{ externalLabel }}</span>
    <shared-button
      *ngIf="!noButton; else buttonText"
      [label]="labelButton"
      [icon]="iconButton"
      (click)="tooglePopup()"
      [pTooltip]="!labelButton && tooltipButton ? tooltipButton : ''"
      [tooltipPosition]="tooltipPosition || 'left'"
    />
    <ng-template #buttonText>
      <span
        class="buttonText"
        (click)="tooglePopup()"
        [pTooltip]="tooltipButton || ''"
        [tooltipPosition]="tooltipPosition || 'left'"
      >
        {{ labelButton }}
      </span>
    </ng-template>
    <div
      [class]="'popup ' + position"
      [ngClass]="{
        show: showPopup,
        'no-padding': items?.length,
        items: items?.length
      }"
    >
      <ng-content *ngIf="showPopup"></ng-content>
      <div
        *ngFor="let item of items"
        class="item"
        [ngClass]="{ show: showPopup }"
        (click)="onDropdownChange(item)"
      >
        {{ item?.label }}
      </div>
    </div>
  </div>
</form>
