.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;

  .buttons-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  .content-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    .selects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
