.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;

  .buttons-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  .content-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

    .selects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 16px;

      .switch {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        span {
          font-size: 12px;
        }
      }
    }
  }
}

shared-select {
  width: 100%;
}

:host ::ng-deep .p-inputtext {
  height: 45px;
}
