<div class="login-container">
  <div class="login-content">
    <div class="logo">
      <img
        src="../../../../assets/logos/N_WHITE.svg"
        alt="Logo"
        class="logo-nyxsys"
      />
      <img
        src="../../../../assets/logos/NYXSYS WHITE_WORD.png"
        alt="NyxSys"
        class="word-nyxsys"
      />
      <span class="slogan">Dream In-Performance</span>
    </div>
    <div class="login-form">
      <div class="flip-card" [ngClass]="{ flipped: isFlipped }">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h3>Bienvenido/a</h3>
            <div class="inputs">
              <shared-input-text
                placeholder="Email"
                [value]="emailText"
                helper="Enter your email"
                [error]="false"
              />
              <shared-input-password
                placeholder="Contraseña"
                [value]="passwordText"
                helper="Enter your password"
                [error]="false"
              />
            </div>
            <div class="button-login">
              <shared-button label="Iniciar sesión" icon="pi-sign-in" />
              <a class="remember" (click)="toggleCard()"
                >¿Olvidaste tu contraseña?</a
              >
            </div>
          </div>
          <div class="flip-card-back">
            <div class="title">
              <i class="pi pi-arrow-circle-left" style="font-size: 1.5rem" (click)="toggleCard()"></i>
              <h3>Restablecer contraseña</h3>
            </div>
            <!-- TODO: Definir valores -->
            <shared-input-text
              placeholder="Email"
              [value]="emailText"
              helper="Enter your email"
              [error]="false"
            />
            <div class="button-send">
              <shared-button label="Enviar" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="languages">
    <div>
      <a class="link-lang">Inglés</a> - <a class="link-lang">Español</a> -
      <a class="link-lang">Italiano</a>
    </div>
    <hr />
  </div>
</div>
