<div class="login-container">
  <div class="login-content">
    <div class="logo">
      <img
        src="../../../../assets/logos/N_WHITE.svg"
        alt="Logo"
        class="logo-nyxsys"
      />
      <img
        src="../../../../assets/logos/NYXSYS WHITE_WORD.png"
        alt="NyxSys"
        class="word-nyxsys"
      />
      <span class="slogan">Dream In-Performance</span>
    </div>
    <div class="login-form">
      <div class="flip-card" [ngClass]="{ flipped: isFlipped }">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h3>{{ "loginWelcome" | translate }}</h3>
            <form autocomplete="off" [formGroup]="loginForm">
              <div class="inputs">
                <shared-input-text
                  [placeholder]="'loginPlaceholderEmail' | translate"
                  helper="Debe ingresar un correo electrónico válido"
                  [error]="isValidFieldLogin('emailLogin')"
                  [formGroup]="loginForm"
                  formControlName="emailLogin"
                />
                <shared-input-password
                  [placeholder]="'loginPlaceholderPassword' | translate"
                  helper="Debe ingresar una contraseña"
                  [error]="isValidFieldLogin('passwordLogin')"
                  [formGroup]="loginForm"
                  formControlName="passwordLogin"
                />
              </div>
              <div class="button-login">
                <shared-button
                  [label]="'loginButtonSignIn' | translate"
                  icon="pi-sign-in"
                  (click)="onLogin()"
                />
                <a class="remember" (click)="toggleCard()">{{
                  "loginForgetPassword" | translate
                }}</a>
              </div>
            </form>
          </div>
          <div class="flip-card-back">
            <div class="title">
              <div
                [pTooltip]="'loginTooltipBack' | translate"
                tooltipPosition="left"
              >
                <i
                  class="pi pi-arrow-circle-left"
                  style="font-size: 1.5rem"
                  (click)="toggleCard()"
                ></i>
              </div>
              <h3>{{ "loginForget" | translate }}</h3>
            </div>
            <form autocomplete="off" [formGroup]="forgetForm">
              <shared-input-text
                [placeholder]="'loginPlaceholderEmail' | translate"
                helper="Debe ingresar un correo electrónico válido"
                [error]="isValidFieldForget('emailForget')"
                [formGroup]="forgetForm"
                formControlName="emailForget"
              />
              <div class="button-send">
                <shared-button [label]="'loginButtonSend' | translate" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="languages">
    <div>
      <a class="link-lang" (click)="switchLanguage('en')">{{
        "loginLangEN" | translate
      }}</a>
      -
      <a class="link-lang" (click)="switchLanguage('es')">{{
        "loginLangES" | translate
      }}</a>
      -
      <a class="link-lang" (click)="switchLanguage('it')">{{
        "loginLangIT" | translate
      }}</a>
    </div>
    <hr />
  </div>
</div>
