<header class="header">
  <i
    class="pi pi-angle-left"
    style="font-size: 1.5rem"
    (click)="selectBackProfile()"
  ></i>
  <div class="header-content">
    <form [formGroup]="userForm">
      <shared-user-dropdown
        position="left-bottom"
        [pTooltip]="'profileViewSelectProfileTooltip' | translate"
        tooltipPosition="right"
        [items]="profilesItems"
        [formGroup]="userForm"
        formControlName="user"
        [userName]="profileData?.name + ' ' + profileData?.lastName"
        [device]="
          profileData?.deviceSN === false
            ? undefined
            : profileData?.deviceSN?.toString()
        "
        [age]="calculateAge(profileData?.birthdate)"
        [status]="profileData?.liveData?.status"
        (dropdownChange)="selectProfile($event)"
      />
    </form>
    <div class="header-actions">
      <div class="buttons-actions">
        {{ periodForm.value.period }}
        <form [formGroup]="periodForm">
          <shared-dropdown
            iconButton="pi-calendar"
            [pTooltip]="'groupPeriodSelect' | translate"
            tooltipPosition="left"
            [showDelay]="400"
            [items]="periodItems"
            [formGroup]="periodForm"
            formControlName="period"
            (dropdownChange)="selectSleepData($event)"
          />
        </form>
        <div class="group-buttons">
          <shared-button
            icon="pi-plus"
            [tooltipButton]="'profileViewAddPeriodTooltip' | translate"
          />
          <shared-button
            icon="pi-pencil"
            [tooltipButton]="'profileViewEditProfileTooltip' | translate"
          />
          <shared-button
            icon="pi-trash"
            [tooltipButton]="'profileViewDeletePeriod' | translate"
          />
        </div>
      </div>
      <div class="actions">
        <form [formGroup]="downloadForm">
          <shared-dropdown
            [labelButton]="'groupDownloadReportLabel' | translate"
            iconButton="pi-angle-down"
            [formGroup]="downloadForm"
          >
            <div class="content-dropdown">
              <div class="selects">
                <shared-select
                  [options]="formatDownloadItems || []"
                  [placeholder]="'groupSelectFormatPlaceholder' | translate"
                  [formGroup]="downloadForm"
                  formControlName="format"
                />
                <shared-select
                  [options]="rangeDownloadItems || []"
                  [placeholder]="'groupSelectRangePlaceholder' | translate"
                  [formGroup]="downloadForm"
                  formControlName="range"
                />
              </div>
              <shared-button
                [label]="'groupDownloadLabel' | translate"
                icon="pi-download"
                [disabled]="downloadForm.status === 'INVALID'"
              />
            </div>
          </shared-dropdown>
        </form>
        <form [formGroup]="gmtForm" id="gmt">
          <shared-select
            [options]="gmtItems"
            optionLabel="label"
            optionValue="value"
            [placeholder]="'profileViewSelectGMT' | translate"
            [formGroup]="gmtForm"
            formControlName="gmt"
            (selectChange)="changeGMT($event)"
          />
        </form>
      </div>
    </div>
  </div>
  <i
    class="pi pi-angle-right"
    style="font-size: 1.5rem"
    (click)="selectNextProfile()"
  ></i>
</header>
<hr />
<main class="main-content">
  <div class="grid-sup">
    <div class="card sleep-score">
      <div class="card-header">
        <span>{{ "profileViewSleepScoreTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="progress">
          <shared-circle-progress-bar
            [sleepScore]="profileData?.selectedSleepData?.sleep_score || 0"
            [xl]="true"
          />
          <p class="desc">
            {{ messageSleepScore }}
          </p>
        </div>
        <div class="graphic-card">
          <sleep-score-chart
            [sleepScore]="sleepScoreToChart"
          ></sleep-score-chart>
        </div>
      </div>
    </div>

    <div class="card recovery">
      <div class="card-header">
        <span>{{ "profileViewRecoveryTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc">
            {{ "profileViewTotalRecovery" | translate }}
          </div>
          <div class="data-value-between">
            {{
              profileData?.selectedSleepData?.hrv_data &&
              profileData?.selectedSleepData?.hrv_data?.length
                ? (profileData?.selectedSleepData)!.hrv_data[0].totalRecovery
                : "No data"
            }}
          </div>
          <div class="data-desc">
            {{ "profileViewIntegratedRecovery" | translate }}
          </div>
          <div class="data-value-between">
            {{
              profileData?.selectedSleepData?.hrv_data &&
              (profileData?.selectedSleepData)!.hrv_data!.length > 1
                ? (profileData?.selectedSleepData)!.hrv_data[1]
                    .integratedRecovery + ("profileViewUnities" | translate)
                : "No data"
            }}
          </div>
        </div>
        <div class="alert">
          <i
            class="pi pi-exclamation-circle"
            style="font-size: 1rem; color: #1ee280"
          ></i>
          <p class="alert-desc">
            {{ "profileViewHrvAlert" | translate }}
          </p>
        </div>
        <div class="graphic-card">
          <recovery-chart [recovery]="totalRecoveryToChart"></recovery-chart>
        </div>
      </div>
    </div>

    <div class="card ans">
      <div class="card-header">
        <span>{{ "profileViewAnsTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc-progress">
            {{ "profileViewParasympathetic" | translate }}
          </div>
          <div class="data-progress">
            <shared-progress-bar
              [progress]="profileData?.selectedSleepData?.hrv_hf || 0"
              style="width: 100%"
            />
            <span>
              {{
                profileData?.selectedSleepData?.hrv_hf
                  ? profileData?.selectedSleepData?.hrv_hf + "%"
                  : "No data"
              }}
            </span>
          </div>
          <div class="data-desc-progress">Simpático (Estrés)</div>
          <div class="data-progress">
            <shared-progress-bar
              [progress]="profileData?.selectedSleepData?.hrv_lf || 0"
              variant="dark"
              style="width: 100%"
            />
            <span>
              {{
                profileData?.selectedSleepData?.hrv_lf
                  ? profileData?.selectedSleepData?.hrv_lf + "%"
                  : "No data"
              }}
            </span>
          </div>
        </div>
        <div class="alert">
          <i
            class="pi pi-exclamation-circle"
            style="font-size: 1rem; color: #1ee280"
          ></i>
          <p class="alert-desc">
            {{ "profileViewAnsAlert" | translate }}
          </p>
        </div>
        <div class="graphic-card">
          <ans-chart [ans]="ansToChart"></ans-chart>
        </div>
      </div>
    </div>

    <div class="card heart-rate-var">
      <div class="card-header">
        <span>{{ "profileViewAnsHrVariabilityTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc">{{ "profileViewNight" | translate }}</div>
          <div class="data-value-between">
            {{
              profileData?.selectedSleepData?.hrv_rmssd_evening
                ? profileData?.selectedSleepData?.hrv_rmssd_evening + " RMSSD"
                : "No data"
            }}
          </div>
          <div class="data-desc">{{ "profileViewMorning" | translate }}</div>
          <div class="data-value-between">
            {{
              profileData?.selectedSleepData?.hrv_rmssd_morning
                ? profileData?.selectedSleepData?.hrv_rmssd_morning + " RMSSD"
                : "No data"
            }}
          </div>
          <div class="data-desc">{{ "profileViewAverage" | translate }}</div>
          <div class="data-value-between">
            {{
              profileData?.selectedSleepData?.average_rmssd
                ? profileData?.selectedSleepData?.average_rmssd + " RMSSD"
                : "No data"
            }}
          </div>
        </div>
        <div class="graphic-card">
          <hrv-chart [hrv]="hrvToChart"></hrv-chart>
        </div>
      </div>
    </div>

    <div class="card heart-rate">
      <div class="card-header">
        <span>{{ "profileViewHeartRateTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc">{{ "profileViewBPMMax" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.max_hr || "No data" }}
          </div>
          <div class="data-desc">{{ "profileViewBPMRepose" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.min_hr || "No data" }}
          </div>
          <div class="data-desc">{{ "profileViewBPMAverage" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.avg_hr || "No data" }}
          </div>
        </div>
        <div class="graphic-card">
          <hr-chart [hr]="hrToChart"></hr-chart>
        </div>
      </div>
    </div>

    <div class="card breathing-rate">
      <div class="card-header">
        <span>{{ "profileViewBreathingRateTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc">{{ "profileViewBPMMax" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.max_rr || "No data" }}
          </div>
          <div class="data-desc">{{ "profileViewBPMRepose" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.min_rr || "No data" }}
          </div>
          <div class="data-desc">{{ "profileViewBPMAverage" | translate }}</div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.avg_rr || "No data" }}
          </div>
        </div>
        <div class="graphic-card">
          <br-chart [br]="brToChart"></br-chart>
        </div>
      </div>
    </div>

    <div class="card movement">
      <div class="card-header">
        <span>{{ "profileViewMovementTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data">
          <div class="data-desc">
            {{ "profileViewMovementsAndTurns" | translate }}
          </div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.tossnturn_count || "No data" }}
          </div>
          <div class="data-desc">
            {{ "profileViewAverageInActivity" | translate }}
          </div>
          <div class="data-value-between">
            {{ profileData?.selectedSleepData?.avg_act || "No data" }}
          </div>
        </div>
        <div class="graphic-card"></div>
      </div>
    </div>

    <div class="card sleep-time">
      <div class="card-header">
        <span>{{ "profileViewSleepTimeTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data-grid">
          <div class="data-desc">{{ "profileViewInBed" | translate }}</div>
          <div class="data-value">
            {{
              profileData?.selectedSleepData?.duration_in_bed?.toString() ||
                "No data"
            }}
          </div>
          <div class="data-desc">{{ "profileViewSleeping" | translate }}</div>
          <div class="data-progress">
            <shared-progress-bar [progress]="91" style="width: 100%" />
            <span>
              {{
                profileData?.selectedSleepData?.duration_in_sleep?.toString()
                  ? profileData?.selectedSleepData?.duration_in_sleep +
                    " (" +
                    profileData?.selectedSleepData?.duration_in_sleep_percent +
                    ")"
                  : "No data"
              }}
            </span>
          </div>
          <div class="data-desc">{{ "profileViewAwake" | translate }}</div>
          <div class="data-progress">
            <shared-progress-bar
              [progress]="9"
              variant="dark"
              style="width: 100%"
            />
            <span>
              {{
                profileData?.selectedSleepData?.duration_awake?.toString()
                  ? profileData?.selectedSleepData?.duration_awake +
                    " (" +
                    profileData?.selectedSleepData?.duration_awake_percent +
                    ")"
                  : "No data"
              }}
            </span>
          </div>
        </div>
        <div class="graphic-card"></div>
      </div>
    </div>

    <div class="card graphic">
      <sleep-architecture-chart
        *ngIf="profileData?.selectedSleepData?.sleep_data?.length"
        [period]="profileData!.selectedSleepData"
      ></sleep-architecture-chart>
    </div>

    <div class="card sleep-arc">
      <div class="card-header">
        <span>{{ "profileViewSleepArqTitle" | translate }}</span>
        <i
          class="pi pi-exclamation-circle"
          style="font-size: 1rem; color: #56a7ff"
        ></i>
      </div>
      <hr />
      <div class="card-content">
        <div class="data-grid">
          <div class="data-desc">{{ "profileViewSoft" | translate }}</div>
          <div class="data-progress">
            <shared-progress-bar [progress]="56" style="width: 100%" />
            <span>
              {{
                profileData?.selectedSleepData?.duration_in_light
                  ? profileData?.selectedSleepData?.duration_in_light +
                    " (" +
                    profileData?.selectedSleepData?.duration_in_light_percent +
                    ")"
                  : "No data"
              }}
            </span>
          </div>
          <div class="data-desc">{{ "profileViewDeep" | translate }}</div>
          <div class="data-progress">
            <shared-progress-bar
              [progress]="24"
              variant="super-dark"
              style="width: 100%"
            />
            <span>
              {{
                profileData?.selectedSleepData?.duration_in_deep
                  ? profileData?.selectedSleepData?.duration_in_deep +
                    " (" +
                    profileData?.selectedSleepData?.duration_in_deep_percent +
                    ")"
                  : "No data"
              }}
            </span>
          </div>
          <div class="data-desc">{{ "profileViewREM" | translate }}</div>
          <div class="data-progress">
            <shared-progress-bar
              [progress]="20"
              variant="dark"
              style="width: 100%"
            />
            <span>
              {{
                profileData?.selectedSleepData?.duration_in_rem
                  ? profileData?.selectedSleepData?.duration_in_rem +
                    " (" +
                    profileData?.selectedSleepData?.duration_in_rem_percent +
                    ")"
                  : "No data"
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <hrv-chart [hrv]="hrvToChart"></hrv-chart> -->
</main>
