.input-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host ::ng-deep .p-inputwrapper {
  width: 100%;
}
:host ::ng-deep .p-password-panel {
  display: none;
}
