<form autocomplete="off" [formGroup]="formGroup">
  <div class="input-text">
    <p-password
      [placeholder]="placeholder"
      aria-describedby="helperRef"
      [formControlName]="formControlName"
      [toggleMask]="true"
      class="p-inputtext-sm"
      [class.ng-invalid]="error"
      [class.ng-dirty]="error"
      (input)="onInputChange($event)"
      (keydown)="onEnterPressed($event)"
    ></p-password>
    <small *ngIf="error" id="helperRef" class="p-error">{{ helper }}</small>
  </div>
</form>
